
#navbar {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: rgb(226, 230, 173);
    top: 10em;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 10em;
    z-index: 90;
}