{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >
    <title>
      {% block title %}
        Your Page Title
      {% endblock %}
    </title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <script src="{% static 'base.js' %}"></script>
    {% block spa %}

    {% endblock %}
  </head>
  <body>

		<div class="container-fluid min-vh-100 d-flex flex-column">
			<div class="row">
					<div class="col m-0 p-0 bg-info border border-dark border-5">
						{% block header %}
						{% endblock %}
					</div>
			</div>
			<div class="row flex-grow-1">
					<div class="col-md-2 bg-danger d-flex align-items-center justify-content-center border border-dark border-5">
						{% block navbar %}
						{% endblock %}
					</div>
					<div class="col-md-10 d-flex align-items-center justify-content-center bg-warning border border-dark border-5">
            {% block content %}
            {% endblock %}
          {% endblock %}
					</div>
			</div>
			<div class="row">
				<div class="col m-0 p-0 border border-dark border-5">
					{% block footer %}
					{% endblock %}
				</div>
		</div>
	</div>

  </body>
</html>
