<!-- spa/templates/spa.html -->
{% extends 'base.html' %}

{% block spa %}
  {% load static %}
  <script src="{% static 'spa.js' %}"></script>
  <link rel="stylesheet" href="{% static 'spa.css' %}" />
{% endblock %}

{% block title %}
  Pong
{% endblock %}

{% block header %}
  {% include 'header.html' %}
{% endblock %}

{% block footer %}
  {% include 'footer.html' %}
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
  <div id="dynamic-content">
    {% include section %}
  </div>
{% endblock %}
