{% load i18n %}
{% load static %}
<link rel="stylesheet" href="{% static 'twofa.css' %}" />

<div class="card text-center border border-dark border-5 bg-info">
  <div class="card-header">
    <h1>{% trans "Welcome to Two-Factor Authentication Setup" %}</h1>
  </div>
  <div class="card-body">
		<h3>{% trans "Please select your prefered option:" %}</h3>
  </div>

  <!-- Two options -->
  <div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card bg-info">
        <div class="card-body">
          <h5 class="card-title">{% trans "QR Code" %}</h5>
          <p class="card-text">Utiliza esta opción si prefieres iniciar sesión escaneando un codigo QR en Google Authenticator</p>
          <a href="/twofa/qr_setup" class="btn btn-primary">{% trans "QR Code" %}</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card bg-info">
        <div class="card-body">
          <h5 class="card-title">{% trans "Email" %}</h5>
          <p class="card-text">Utiliza esta opción si prefieres iniciar sesión con un código numérico que recibirás en tu correo.</p>
          <a href="/twofa/email_setup" class="btn btn-primary">{% trans "Email" %}</a>
        </div>
      </div>
    </div>
  </div>
</div>
