{% load i18n %}
{% load static %}
<link rel="stylesheet" href="{% static 'twofa.css' %}" />

<!-- <main id="main">
  <h1 id="main-title">
    {% block main_title %}
    {% trans "First Login" %}
    {% endblock %}
  </h1>
  <div id="main-p">
    {% block main_content %}
		<h1>{% trans "Welcome to Two-Factor Authentication Setup" %}</h1>
		<p>{{ msg }}</p>
    <form method="post" action="{{ url }}">
      {% csrf_token %}
      {{ form }}
      <button type="submit">{% trans "Submit" %}</button>
      <p>{{ error_msg }}</p>
    </form>
    {% endblock %}
  </div>
</main> -->

<div class="card text-center border border-dark border-5 bg-info">
  <div class="card-body">
    <h5 class="card-title">{{ msg }}</h5>

    <form method="post" action="{{ url }}">
      {% csrf_token %}
      {{ form }}
      <button class="btn btn-primary" type="submit">{% trans "Submit" %}</button>
      <p>{{ error_msg }}</p>
    </form>
  </div>
</div>