<!-- twofa/templates/first_login.html -->
{% load static %}
<main id="main">
  <h1 id="main-title">
    {% block main_title %}
      First Login
    {% endblock %}
  </h1>
  <p id="main-p">
    {% block main_content %}
		<h1>Welcome to Two-Factor Authentication Setup</h1>
		<p>Please scan the QR code below with your Google Authenticator app to set up 2FA:</p>
    <img src="{{ qr_code }}" alt="QR Code for Google Authenticator">
    <form method="post" action="/validate_qr_code/">
      {{ form }}
      <button type="submit">Submit</button>
  </form>
    {% endblock %}
  </p>
</main>