{% load i18n %}
{% load static %}
<link rel="stylesheet" href="{% static 'twofa.css' %}" />

<div class="card border border-dark border-5 bg-info" style="max-width: 840px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img class="img-fluid rounded-start" src="data:image/png;base64,{{ qr_code }}" alt="QR Code for Google Authenticator">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{% trans "Please scan the QR code below with your Google Authenticator app to set up 2FA:" %}</h5>
        <div class="mx-auto py-4">
          <form method="post" action="/validate_2fa_code/">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-primary mb-3">{% trans "Submit" %}</button>
            <p>{{ error_msg }}</p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>