{% load i18n %}
{% load static %}
<!DOCTYPE html>
<link rel="stylesheet" href="{% static 'game.css' %}" />
<script src="{% static 'game.js' %}"></script>
<script src="{% static 'Ball.js' %}"></script>

<main id="main">
  <h1 id="main-title">
    {% block main_title %}
      {% trans 'Main Content' %}
      <button type="button"><a href="/API/authenticate_42">{% trans 'Clic here' %}</a></button>
    {% endblock %}
  </h1>
  <p id="main-p">
    {% block main_content %}
      {% trans 'This is the main content' %}.
    {% endblock %}
  </p>
</main>
