{% load i18n %}
{% load static %}
<!DOCTYPE html>
<link rel="stylesheet" href="{% static 'game.css' %}" />
<script type="module" src="{% static 'game.js' %}"></script>
<script type="module" src="{% static 'Ball.js' %}"></script>
<script type="module" src="{% static 'Board.js' %}"></script>
<script type="module" src="{% static 'GameController.js' %}"></script>
<script type="module" src="{% static 'Player.js' %}"></script>
<script type="module" src="{% static 'ScreenManager.js' %}"></script>
<script type="module" src="{% static 'TournamentManager.js' %}"></script>

<main id="main">
  <h1 id="main-title">
    {% block main_title %}
      {% trans 'Game' %}
    {% endblock %}
  </h1>
  {% block main_content %}
    <canvas id="canvas" class="bg-white"></canvas>
  {% endblock %}
</main>
