
#email-box
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#email-setup-twofa-form-con
{
	padding-top: 20px;
	flex: 1;
}

#email-setup-error-msg
{
	visibility: hidden;
	color: rgb(255, 0, 0);
	white-space: nowrap;
}