{% load i18n %}
{% load static %}
<link rel="stylesheet" href="{% static 'navbar.css' %}" />
<script src="{% static 'navbar.js' %}"></script>


<div class="container d-grid gap-5 col-12">
  <row>
    <div class="col-12">
      <img src="https://play-lh.googleusercontent.com/YIkkBYzbvSDjqF3VHe6zVD2v2bMA0qpp7uIYlh1vDPuFwPjHbd4P9wsC6AJTQrZRHlxL" class="img-fluid" alt="Image">
    </div>
  </row>
    
  </row>

  <row>    
    <div class="grid gap-0 column-gap-3">
      <div class="p-2 g-col-6 d-flex align-items-center justify-content-center">
        <input type="text" class="form-control" placeholder="{% trans "Opponent's Name" %}" aria-label="Username" aria-describedby="addon-wrapping">
      </div>
      <div class="p-2 g-col-6 d-flex align-items-center justify-content-center">
        <button type="submit" class="btn btn-primary spa-btn" type="button" value="game">
          {% trans "PLAY" %}
        </button>
      </div>
    </div>
  </row>
  
  <row class="d-flex align-items-center justify-content-center">    
    <button class="btn btn-primary spa-btn" type="button" value="tournament">
      {% trans "Create Tournament" %}
    </button>
  </row>

  
</div>