{% load i18n %}
{% load static %}
<link rel="stylesheet" href="{% static 'twofa.css' %}" />
<script type="module" src="{% static 'twofa.js' %}"></script>

<div class="card text-center border border-dark border-5 bg-info">
  <div class="card-body d-flex flex-column align-items-center">
    <h5 class="card-title ">{% trans "Please introduce a valid 2FA code:" %}</h5>
    <form id="twofa-form">
      {% csrf_token %}
      <div>
        {{ form }}
      </div>
      <div class="text-center mt-3">
        <p id="twofa-error-msg">{% trans "Error: Invalid code." %}</p>
        <button class="btn btn-primary" type="submit">{% trans "Submit" %}</button>
      </div>
    </form>
  </div>
</div>