<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Your Page Title
      {% endblock %}
    </title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <script src="{% static 'base.js' %}"></script>
    {% block spa %}

    {% endblock %}
  </head>
  <body>
    <!-- Navbar -->
    {% block navbar %}

    {% endblock %}

    <!-- Header Section -->
    {% block header %}

    {% endblock %}

    <!-- Main Content Section -->
    {% block content %}
      {% comment %}TODO{% endcomment %}
      {% block dynamic_content %}

      {% endblock %}
    {% endblock %}
  </body>
</html>
