<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Your Page Title
      {% endblock %}
    </title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <script src="{% static 'base.js' %}"></script>
    {% block spa %}

    {% endblock %}
  </head>
  <body>

		<div class="container-fluid min-vh-100 d-flex flex-column">
			<div class="row">
					<div class="col m-0 p-0">
						{% block navbar %}
						{% endblock %}
					</div>
			</div>
			<div class="row flex-grow-1">
					<div class="col-md-2 bg-danger d-flex align-items-center justify-content-center">
						{% block menu %}
						{% endblock %}
					</div>
					<div class="col-md-10 d-flex align-items-center justify-content-center bg-warning">
						<!-- Comment to add a different page -->
						{% block game %}
						{% endblock %}
					</div>
			</div>
			<div class="row">
				<div class="col m-0 p-0">
					{% block footer %}
					{% endblock %}
				</div>
		</div>
	</div>

  </body>
</html>
