#main {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: rgb(230, 173, 222);
    top: 10em;
    left: 10em;
    width: 100%;
    height: 100%;
    z-index: 10000;
}

#main-title {
    flex : 1;
}

#main-p {
    flex : 1;
}