{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'login.css' %}" />
</head>
<body>
    <button type="button" class="btn btn-outline-primary extra-large-button" onclick="location.href='/API/authenticate_42';">
		<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/42_Logo.svg/2048px-42_Logo.svg.png" alt="Logo" class="d-inline-block img-fluid" style="max-width: 50px;">
		{% trans "LOGIN" %}
	</button>
</body>
</html>