{% load i18n %}
{% load static %}
<link rel="stylesheet" href="{% static 'game_settings.css' %}" />
<body>
	<div class="card text-center border border-dark border-5 bg-info">
		<div class="card-body">
			<h1 class="card-title">Game Settings</h1>
			<form id="settings-form" method="post" action="/game_settings/">
				{% csrf_token %}
				<div>
					<div class="form-check form-switch center-switch">
						<input name="bonus" class="form-check-input" type="checkbox" role="switch" id="{{ switch_type_bonus }}" {{ check_mode_bonus }}>
						<label class="form-check-label" for="{{ switch_type_bonus }}">{% trans "2X Bonus" %}</label>
					</div>
					<div class="form-check form-switch center-switch">
						<input name="walls" class="form-check-input" type="checkbox" role="switch" id="{{ switch_type_walls }}" {{ check_mode_walls }}>
						<label class="form-check-label" for="{{ switch_type_walls }}">{% trans "Walls" %}</label>
					</div>
				</div>
				<div class="text-center mt-3">
					<button class="btn btn-primary" type="submit">{% trans "Save" %}</button>
				</div>
			</form>
		</div>
	</div>
</body>