{% load i18n %}
{% load static %}
<!DOCTYPE html>
<link rel="stylesheet" href="{% static 'main.css' %}" />
<script src="{% static 'main.js' %}"></script>

<div class="card text-center border border-dark border-5 bg-info">
  <div class="card-header">
    <h1>Welcome to our Transcendence</h1>
  </div>
  <div class="card-body">
    <p class="card-text">In order to feel the experience you should first log in.</p>
    <a class="btn btn-primary" href="/API/authenticate_42">{% trans "Clic here" %}</a>
  </div>
</div>
